.chart_div {
  width: 80%;
  height: 30vh;
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 35%,
    rgba(2, 131, 157, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
